#contacts {
    padding-top: 100px;
}


#contactTitleContainer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
#contactTitle {
    font-family: Bahnschrift;
    font-size: x-large;
    font-weight: 800;
    color: #BA8F7D;
    margin: 0px;
    margin-left: 20px;
    text-align: left;
}
#contactLine {
    margin-left: 8%;
    width: 150px;
    height: 1px;
    background-color: #BA8F7D;
}

#contactText {
    font-family: Bahnschrift;
    font-size: lighter;
    width: 80%;
    margin-left: 10%;
}

#contactForm {
    height: 500px;
    margin-left: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.contactInput {
    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid #BA8F7D;
    padding-left: 10px;
    color: black;
    font-family: Bahnschrift;
}
.contactInput::placeholder {
    color: black;
    font-family: Bahnschrift;
}
.contactInput:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#contactMessage {
    padding-top: 20px;
    height: 250px;
    resize: none;
}

#contactSubmit {
    width: 180px;
    height: 45px;
    background-color: #915833;
    border: none;
    font-family: Bahnschrift;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    margin: 0px;
}

#messageError {
    height: 0px;
    margin: 0px;
    color: red;
    font-family: Bahnschrift;
    font-style: italic;
}

#contactSubmit:hover {
    opacity: 50%;
}