
#galerie {
    padding-top: 100px;
    height: calc(100vh - 100px);
}
#galerieTitleContainer {
    display: flex;
    align-items: center;
}
#galerieTitle {
    font-family: Bahnschrift;
    font-size: x-large;
    font-weight: 800;
    color: #BA8F7D;
    margin: 0px;
    margin-left: 20px;
    text-align: left;
}
#galerieLine {
    margin-left: 8%;
    width: 150px;
    height: 1px;
    background-color: #BA8F7D;
}



#carousel {
    width: 100%;
    margin-top: 30px;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#arrowCarouselLeft {
    opacity: 15%;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
}
#arrowCarouselRight {
    opacity: 15%;
    width: 40px;
    height: 40px;
}
#carouselContentGalerie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
}
#imageGalerie {
    height: 100%;
    object-fit: scale-down;
    margin-right: 30px;
}
#galerieSubtitle {
    font-family: Bahnschrift;
    font-size: x-large;
    font-weight: 800;
    color: #915833;
    text-align: left;
}
#galerieTextContainer {
    display: flex;
    flex-direction: column;
}
#descriptionGalerie {
    font-family: Bahnschrift;
    font-size: normal;
}

