header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index: 20;
    width: 100%;
    left: 0px;
    box-shadow: 0 4px 2px -2px rgba(230, 225, 225, 0.63);
}

#navigation {
    margin-right: 20px;
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.navigationTitle {
    margin-top: 4px;
    color: black;
    text-decoration: none;
    font-family: Bahnschrift;
    text-transform: uppercase;
    height: 20px;
    border-bottom: transparent solid 2px;
}
.navigationTitle:hover {
    margin-bottom: -4px;
    border-bottom: #BA8F7D solid 2px;
    transition-property: background-color font-size transform color;
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;  
}

#logo {
    width: 150px;
    margin-left: 20px;
}

#underlineTitle {
    margin-bottom: -4px;
    border-bottom: #BA8F7D solid 2px;
}


