
@font-face {
    font-family: "MinionPro-Medium";
    src: url("../font/MinionPro/MinionPro-Medium.ttf");
  }

@font-face {
    font-family: "MinionPro-BoldIt";
    src: url("../font/MinionPro/MinionPro-BoldIt.ttf");
  }

@font-face {
    font-family: "savoye";
    src: url("../font/SavoyeStdRegular.otf");
  }



html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}


.callToAction {
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #915833;
    border: none;
    font-family: Bahnschrift;
    font-size: 20px;
    color: white;
}

.callToAction:hover {
    opacity: 50%;
}

