
@font-face {
    font-family: "MinionPro-Medium";
    src: url("../font/MinionPro/MinionPro-Medium.ttf");
  }

@font-face {
    font-family: "savoye";
    src: url("../font/SavoyeStdRegular.otf");
  }


html {
    background-color: #e7d9c8;
}

body {
    margin: 0px;
}


