#rencontres {
    padding-top: 100px;
}


#rencontresTitleContainer {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
#rencontresTitle {
    font-family: Bahnschrift;
    font-size: x-large;
    font-weight: 800;
    color: #BA8F7D;
    margin: 0px;
    margin-left: 20px;
    text-align: left;
}
#rencontresLine {
    margin-left: 8%;
    width: 150px;
    height: 1px;
    background-color: #BA8F7D;
}

#rencontresContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 96%;
    margin-left: 2%;
}

#container {
    width: 28%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    text-decoration: none;
    color: black
}

#episodeTitle {
    font-family: Bahnschrift;
    font-size: x-large;
    font-weight: 800;
    color: #915833;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#episodeName {
    font-family: Bahnschrift;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

#episodeEmpty {
    padding-left: 10px;
    padding-right: 10px;
    width: 28%;
}

#toMeet {
    display: block;
    width: 400px;
    height: 50px;
    border: 3px solid #BA8F7D;
    background-color: transparent;
    margin-left: calc(50% - 200px);
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #BA8F7D;
    font-family: Bahnschrift;
    font-size: x-large;
}

.imageRencontres {
    width: 80%;
}
